.WelcomePage {
  position: relative;

  .skip {
    text-decoration: none;
    color: var(--text);
    position: absolute;
    right: 50px;
    top: 50px;
  }
  .btnContainer {
    position: absolute;
    bottom: -170px;
    right: 50%;
    transform: translate(50%, 0);
    button,
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 0;
      width: 25vw;
      border-radius: 10px;
      border: none;
      background-color: var(--primary);
      color: var(--background);
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
  }
}
