.budgetItem {
  padding: 15px 30px;
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .text {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .iconNormal {
      color: #16a34a;
    }
    .iconDanger {
      color: #c92a2a;
    }
    .textBlock {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      span {
        font-size: 30px;
      }
      div {
        margin-bottom: 0;
        h6 {
          font-size: 16px;
        }
        p {
          color: var(--text-tint);
        }
      }
    }
  }
  .stats {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .percent {
      color: var(--text-tint);
    }
  }
}
