.dangerMessage {
  background-color: #ffe3e3;
  text-align: start;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #c92a2a;
  font-weight: 300;
}
