.growthContainer {
  width: 100%;
  margin-bottom: 0;
  .box {
    width: 100%;
    background: #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-bottom: 0;
    .growthBar {
      margin-bottom: 0;
      height: 100%;
      transition: width 0.4s ease;
    }
    .normal {
      background: linear-gradient(to right, #22c55e, #16a34a);
    }
    .danger {
      background: linear-gradient(to right, #ff6b6b, #c92a2a);
    }
  }
}
