div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: start;
  margin-bottom: 25px;
  label {
    font-weight: 600;
  }
  input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--text-tint);
    font-size: 16px;
  }
  input:focus {
    outline: 1px solid var(--primary);
    outline-offset: 1px;
  }
}
