.login {
  min-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  .loginHeader {
    margin-bottom: 20px;
    h2 {
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 40px;
      letter-spacing: 1px;
    }
    p {
      color: var(--text);
      font-size: 20px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    margin-bottom: 25px;
    label {
      font-weight: 600;
    }
    input {
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid var(--text-tint);
      font-size: 16px;
    }
    input:focus {
      outline: 1px solid var(--primary);
      outline-offset: 1px;
    }
  }
  a {
    text-align: end;
    margin-bottom: 15px;
    color: var(--primary);
  }

  .signupText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;

    a {
      margin: 0;
      text-decoration: none;
      color: var(--primary);
    }
  }
  button {
    padding: 18px 0;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    border: none;
    background-color: var(--primary);
    color: var(--background);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}
