.addExpense {
  background-color: #fff;
  .type {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
    border-radius: 10px;
    span {
      display: block;
      width: 50%;
      text-align: center;
      padding: 15px;
      border-radius: 10px;
      cursor: pointer;
    }
    span.active {
      background-color: #fff;
    }
  }
  .amount {
    display: flex;
    align-items: center;
    margin: 40px 0;
    .money {
      font-size: 40px;
      font-weight: 600;
    }
  }
  .numsGrid,
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 40px;
  }
  ul {
    list-style: none;
  }

  .payments {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dateBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input,
    .note {
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      color: var(--text-tint);
    }

    textarea.note {
      outline: none;
      height: 100px;
    }
  }

  .btn {
    padding: 18px 0;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    border: none;
    background-color: var(--primary);
    color: var(--background);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}
