.expenseItem {
  list-style: none;
  padding: 15px 20px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;

  div {
    justify-self: start;
    gap: 10px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      color: var(--primary);
    }
    div {
      justify-self: start;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .desc {
        font-size: 14px;
        color: var(--text-tint);
      }
    }
  }
  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100px;
    .payment {
      font-size: 14px;
      color: var(--text-tint);
    }
  }
}
