.btn {
  padding: 18px 0;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  border: none;
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
