.navContainer {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-between;
  span {
    display: inline-block;
    align-self: center;
  }
  nav {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 150px;
    a:link,
    a:visited {
      display: inline-block;
      color: #000;
      padding: 10px 15px;
      border-radius: 5px;
      text-decoration: none;
      transition: all 0.3s;
    }
    a:hover,
    a:active {
      background-color: var(--font-color);
      color: #fff;
    }
  }
}

@media (max-width: 1160px) {
  .navContainer {
    nav {
      gap: 100px;
    }
  }
}
@media (max-width: 955px) {
  .navContainer {
    nav {
      gap: 50px;
    }
  }
}

@media (max-width: 750px) {
  .navContainer {
    nav {
      gap: 10px;
    }
  }
}
