.addExpense {
  width: 70vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 40px;
  border-radius: 5px;
  background-color: var(--tint-6);

  h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 100%;
    label {
      font-size: 20px;
    }

    input,
    select {
      font-size: 20px;
      padding: 3px 5px;
      width: 100%;
      height: 35px;
      outline: none;
      background-color: #fff;
    }

    select {
      align-self: flex-end;
      option {
        text-transform: capitalize;
      }
    }
  }
  button {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background-color: var(--font-color);
    color: #fff;
  }
}
