li {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tint-6);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20px;

  div {
    width: 225px;
    h4 {
      margin-bottom: 10px;
    }
  }
  span {
    width: 100px;
    justify-self: center;
    align-self: center;
  }
  button {
    width: fit-content;
    background-color: var(--font-color);
    font-size: 16px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;

    span {
      width: fit-content;
      display: inline-block;
    }
  }
}
