.budget {
  background-color: #f9fafb;
  width: 100%;

  .header {
    background-color: #fff;
    width: 100%;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    h3 {
      margin-bottom: 10px;
    }
    .monthBudgets {
      width: 100%;
      padding: 20px 10px;
      background: linear-gradient(to bottom right, #5238f6, #9515fa);
      border-radius: 10px;
      color: #fff;
      h3 {
        font-size: 16px;
        font-weight: 400;
      }
      p {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 10px;
      }
      .remain {
        font-weight: 400;
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 0;
      }
    }
    h3 {
      display: flex;
      font-size: 25px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      button {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        background-color: none;
        border-radius: 50%;
        svg {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          color: #fff;
          background-color: var(--primary);
        }
      }
    }
  }

  .budgetList {
    width: 100%;
  }
}
