.lineChartItem {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 400px;
  border-radius: 10px;
  grid-column: span 2;

  .recharts-wrapper *:focus {
    outline: none;
  }
}
