.barChartItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
  border-radius: 10px;
}
