.barChartItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 0;
  border-radius: 10px;
  .recharts-wrapper *:focus {
    outline: none;
  }
}

@media (max-width: 1050px) {
  .barBox {
    grid-column: span 2;

    .barChartItem {
      height: 400px;
    }
  }
}
