.chartBullets {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  .title {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    h4 {
      color: var(--text-tint);
      font-weight: normal;
    }
    span {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
