.labelItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    h4 {
      font-size: 13px;
      color: var(--text-tint);
    }
    span {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
