.overview {
  color: var(--background);
  .text {
    margin-bottom: 20px;
    span {
      font-size: 13px;
    }
    h2 {
      font-size: 30px;
    }
  }
  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      color: var(--background);
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: #cccbdf64;
    }
  }
  .content {
    flex-direction: column;
    color: var(--text);
    background-color: var(--background);
    width: 100%;
    border-radius: 10px;
    height: 30vh;
    margin-bottom: 0;
    padding: 15px 15px;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      color: var(--text);
      margin-bottom: 0;
      svg {
        color: var(--primary);
      }
      span {
        font-size: 13px;
        columns: var(--text-tint);
      }
    }
    .money {
      font-size: 40px;
      margin: 10px 0;
      color: var(--text);
    }

    .incomeExpensesBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      .incomeBox,
      .expenseBox {
        width: 100%;
        background-color: #ddd;
        border-radius: 10px;
        padding: 15px;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 5px;
        }
      }

      .incomeBox {
        background-color: var(--success-tint);
        div {
          span {
            font-size: 13px;
          }
          svg {
            color: var(--success);
          }
        }
        .incomeMoney {
          color: var(--success);
        }
      }
      .expenseBox {
        background-color: #ffe3e3;
        div {
          span {
            font-size: 13px;
          }
          svg {
            color: var(--danger);
          }
        }
        .expenseMoney {
          color: var(--danger);
        }
      }

      .expenseMoney,
      .incomeMoney {
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
