.pieChartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  gap: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  .pieChart,
  .text {
    flex: 1;
    margin-bottom: 0;
  }
}
