.pieChartItem {
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  gap: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  .recharts-sector:focus {
    outline: none;
  }
  .recharts-wrapper *:focus {
    outline: none;
  }

  .chartBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    div {
      margin-bottom: 0;
    }
  }
  .pieChart,
  .text {
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 780px) {
  .pieChartItem {
    flex-direction: column;
    .chartBox {
      div {
        width: 400px;
        height: 400px;
      }
    }
  }
}
