.recentTrans {
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0;
  padding: 20px;
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      div {
        justify-self: start;
        gap: 10px;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
          color: var(--primary);
        }
        div {
          justify-self: start;
          margin-bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .date {
            font-size: 14px;
            color: var(--text-tint);
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100px;
        .payment {
          font-size: 14px;
          color: var(--text-tint);
        }
      }
    }
  }
}
