.loaderBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.analytics {
  background-color: #f9fafb;
  width: 100%;
  .header {
    padding-left: 30px;
    h4 {
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 40px;
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f3f4f6;
      padding: 5px 5px;
      border-radius: 10px;
      font-weight: 500;
      width: 300px;
      button {
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        cursor: pointer;
        border: none;
        padding: 15px 40px;
        border-radius: 10px;
        background-color: #f3f4f6;
      }
      button.active {
        background-color: #fff;
      }
    }
  }
  .body {
    width: 100%;
    .cardContainer {
      gap: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .spendings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
    height: 50vh;
    width: 100%;
    .chartAndBullet {
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;

      .spendingChart {
        width: 100%;
        margin-bottom: 0;
      }
      .bulletBox {
        width: 100%;
        margin-bottom: 0;
        padding: 20px;
      }
    }
    .topSpending {
      width: 100%;
      margin-bottom: 0;
      background: linear-gradient(to bottom right, #9515fa, #5238f6);
      height: 100%;
      padding: 30px;
      border-radius: 10px;
      color: #fff;
      h6 {
        font-size: 14px;
        font-weight: normal;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }
      h4 {
        font-size: 20px;
        margin-top: 20px;
      }
      .box {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        span {
          font-size: 50px;
        }
        div {
          margin-bottom: 0;
        }
      }
    }
  }
}
