.card {
  width: 100%;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    .icon {
      padding: 5px;
      border-radius: 10px;
    }
  }
  p {
    font-weight: 700;
    font-size: 25px;
  }
}
