.search {
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  width: calc(60% - 30px);
  .searchBar {
    position: relative;
    color: #aaa;
    margin-bottom: 0;

    svg {
      position: absolute;
      top: 20%;
      left: 15px;
      color: #aaa;
    }
    input {
      border-radius: 10px;
      color: #888;
      outline: none;
      padding: 10px 0;
      padding-left: 50px;
      border-color: #aaa;
    }
  }
}
