.signupwith {
  margin-bottom: 0;
  .or {
    color: var(--text-tint);
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    p {
      min-width: fit-content;
    }
    span {
      display: inline-block;
      width: 50%;
      height: 0.5px;
      background-color: var(--text-tint);
    }
  }

  .gmailBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: var(--text);

    button {
      width: 100%;
      font-weight: 400;
      font-size: 18px;
      padding: 18px 0;
      border-radius: 10px;
      border: 1px solid var(--text-tint);
      background-color: var(--background);
      color: var(--text);
      cursor: pointer;
      background-color: #f4f4ff;
      transition: all 0.3s;
    }
    button:hover {
      background-color: #fff;
    }
  }
}
