* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 20px;
  background-color: var(--background);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
}

:root {
  --primary: #4f46e5;
  --success: #22c55e;
  --success-tint: #22c55e24;
  --danger: #ef4444;
  --danger-tint: #ffe3e3;
  --background: #f9fafb;
  --text: #111827;
  --text-tint: #11182796;
  --headings: 600;
  --gradient: linear-gradient(90deg, #5738f7 0%, #9218fa 100%);
}
