.loaderBox {
  height: 100vh;
  width: 100%;
}

.dashboard {
  // width: 85vw;
  width: 100%;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 15px;
  row-gap: 0;
  .overviewBox {
    background: var(--gradient);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px 30px;
  }
  .overviewBox,
  .recentTransBox {
    grid-column: span 2;
  }

  .chartBox,
  .barBox {
    width: 100%;
  }

  .chartBox {
    display: flex;
    flex-direction: row;
  }
  .recentTransBox {
    grid-column: span 2;
  }
}

.centerLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}
