.dashboard {
  width: 85vw;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 0;
  height: 200vh;
  .overviewBox {
    background: var(--gradient);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px 30px;
  }
  .overviewBox,
  .recentTransBox {
    grid-column: span 2;
  }

  .chartBox,
  .barBox {
    width: 100%;
    // background-color: #666;
  }

  .chartBox {
    display: flex;
    flex-direction: row;
  }
}
